.mail-preview {
    grid-template-columns:  auto minmax(auto,1fr) 2fr minmax(auto,1fr);
    justify-items: start;
    column-gap: .8rem;

    text-align: center;
}

.delete-btn{
    display: none;
}

.subject {
    justify-self: start;
}


.bookmarked {
   color: gold;
}

.sent-at {
   justify-self: end;
}

.delete-btn{
    justify-self: end;
}

.row:has(>.read){
    background-color: #F2F6Fc;

    font-weight: bold;
}