.mail-preview {
    grid-template-columns:  minmax(auto,1fr) 2fr minmax(auto,1fr);
    justify-items: start;


    text-align: center;
}

.delete-btn{
    display: none;
}

.subject {
    justify-self: start;
}


.from {
   
}

.sent-at {
   justify-self: end;
}

.delete-btn{
    justify-self: end;
}