 /* note list */

 .pinned-notes,
 .unPinned-notes {
     margin: 20px auto;
     columns: 4 400px;
     column-gap: 5em;
     row-gap: 5em;
     margin: 1.5em;
 }

 .note-list-container{
    padding: 10px;
 }
